spring:
  application:
    name: datapillar-api-gateway
  config:
    import: "nacos:datapillar-api-gateway.yaml?group=${NACOS_GROUP:DATAPILLAR}&refreshEnabled=true"
  cloud:
    nacos:
      config:
        server-addr: ${NACOS_SERVER_ADDR}
        namespace: ${NACOS_NAMESPACE}
        username: ${NACOS_USERNAME}
        password: ${NACOS_PASSWORD}
      discovery:
        server-addr: ${NACOS_SERVER_ADDR}
        namespace: ${NACOS_NAMESPACE}
        username: ${NACOS_USERNAME}
        password: ${NACOS_PASSWORD}
        group: ${NACOS_GROUP:DATAPILLAR}
