spring:
  application:
    name: datapillar-auth
  config:
    import: "nacos:datapillar-auth.yaml?group=${NACOS_GROUP:DATAPILLAR}&refreshEnabled=true"
  cloud:
    nacos:
      config:
        server-addr: ${NACOS_SERVER_ADDR}
        namespace: ${NACOS_NAMESPACE}
        username: ${NACOS_USERNAME}
        password: ${NACOS_PASSWORD}
      discovery:
        server-addr: ${NACOS_SERVER_ADDR}
        namespace: ${NACOS_NAMESPACE}
        username: ${NACOS_USERNAME}
        password: ${NACOS_PASSWORD}
        ip: ${NACOS_SERVICE_IP}
        group: ${NACOS_GROUP:DATAPILLAR}
