<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.job.worker.domain.mapper.JobBucketLeaseMapper">

    <!-- 查询指定 Worker 持有的 Bucket 列表 -->
    <select id="selectBucketsByWorker" resultType="java.lang.Integer">
        SELECT bucket_id
        FROM job_bucket_lease
        WHERE worker_address = #{workerAddress}
        ORDER BY bucket_id ASC
    </select>

    <!-- 插入或更新租约 -->
    <insert id="upsert">
        INSERT INTO job_bucket_lease (bucket_id, worker_address, lease_time)
        VALUES (#{bucketId}, #{workerAddress}, #{leaseTime})
        ON DUPLICATE KEY UPDATE
            worker_address = VALUES(worker_address),
            lease_time = VALUES(lease_time)
    </insert>

    <!-- 删除指定 Bucket 的租约 -->
    <delete id="deleteByBucketId">
        DELETE FROM job_bucket_lease
        WHERE bucket_id = #{bucketId}
    </delete>

    <!-- 删除指定 Worker 的所有租约 -->
    <delete id="deleteByWorker">
        DELETE FROM job_bucket_lease
        WHERE worker_address = #{workerAddress}
    </delete>

</mapper>
