<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunny.datapillar.studio.module.tenant.mapper.TenantFeaturePermissionMapper">

    <select id="selectByTenantIdAndObjectId" resultType="com.sunny.datapillar.studio.module.tenant.entity.TenantFeaturePermission">
        SELECT *
        FROM tenant_feature_permissions
        WHERE tenant_id = #{tenantId}
          AND object_id = #{objectId}
        LIMIT 1
    </select>

    <select id="selectByTenantId" resultType="com.sunny.datapillar.studio.module.tenant.entity.TenantFeaturePermission">
        SELECT *
        FROM tenant_feature_permissions
        WHERE tenant_id = #{tenantId}
    </select>

    <select id="selectPermissionLimits" resultType="com.sunny.datapillar.studio.module.tenant.dto.FeatureEntitlementDto$PermissionLimit">
        SELECT tfe.object_id AS object_id,
               tfe.status AS status,
               p.code AS permission_code,
               p.level AS permission_level
        FROM tenant_feature_permissions tfe
        INNER JOIN permissions p ON p.id = tfe.permission_id
        WHERE tfe.tenant_id = #{tenantId}
    </select>
</mapper>
